/*                                                          */
/* ALL ITEMS BELOW THIS LINE ARE TAGS IN ALPHABETICAL ORDER */
/*                                                          */

a
{
    color: white;
}

a:active
{
    color: red;
    /* Top line for IE */
    background-color: white;
    background-color: rgba(255,255,255,0.5);
}

a:hover
{
    color: orange;
    text-decoration: underline;
}

a:link
{
    text-decoration: none;
    cursor: crosshair;
    color: white;
}

a:visted
{
    color: rgb(200,200,200);
}

body
{
    margin: 0;
    min-height: 100vh;
}

html, body
{
    height: 100%;
}

h1, h2, h3
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}













/*                                                             */
/* ALL ITEMS BELOW THIS LINE ARE CLASSES IN ALPHABETICAL ORDER */
/*                                                             */

.background_1
{
    background: transparent;
    min-height: 100vh;
    background-image: url("/website_background/carbon_fibre.png");
    background-attachment: fixed;
}

.background_2
{
    background: transparent;
    margin: 0 15% 0 15%;
    /* padding: 2.5% 0 2.5% 0; Removed due to linter */
    height: 50%;
}

.forum_body 
{
    margin: 2.5% 5% 2.5% 5%;
    font-family: sans-serif;
}