/* This is were all css styles are written which is linked to the HTML file */

/* All custom fonts are declared here */
@font-face 
{
    font-family: 'nice';
    src: url('../fonts/nice.ttf') format('truetype');
}

/* Use body as a default style for everything */
body
{    
	background-image: url('../board_icons/bluesexy.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* Used for putting a box around everything */
/*
{
    border-style: solid;
    border-width: 1px;
}*/

#forum_body 
{
    margin: 5% 0% 5% 0%;
    font-family: sans-serif;
}

#web_title
{
    font-family: 'nice';
    font-size: 300%;
    color: white;
    margin: 0%;
    word-spacing: 1px;
}

#web_subtitle
{
    font-size: 100%;
    color: white;
    margin-top: -0.5%;
    margin-left: 0%;

}

#header
{
    text-align: left;
}

#footer
{
    text-align: center;
    color: white;
}

#background_2
{
    background-color: transparent;
    margin: 0% 10% 0% 10%;
    padding: 0%;
    height: 50%;
}

.catagory
{
    background-color: rgba(255,255,255,0.25);
    padding: 1%;
    border-style: solid;
    border-color: white;
   
    /* Not supported by all browsers */
    border-radius: 10px;
}

.board
{
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: #EEEEEE;
    padding: 0.15% 2% 0.25% 1%;

}

.board_title
{
    background-color: #EEEEEE;
    display: inline-block;
    padding: 0% 1% 0% 1%;
}

.board_header
{
    background-color: #EEEEEE;
}

.board_subtitle
{
    background-color: #EEEEEE;
}

.board_icon
{
    width: 4%;
    display: inline-block;
}

h3 
{
    color: white;
    font-family: "Times New Roman", Times, serif;
    margin: 0%;
    padding: 0%;
}

h4 
{
    margin: 0%;
    padding: 0%;
}

h5 
{
    margin: 0%;
    padding: 0%;
}
