/* This is were all css styles are written which is linked to the HTML file */

/* All custom fonts are declared here */
@font-face 
{
    font-family: 'nice';
    src: url('/fonts/nice.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nice.woff') format('woff'),
         url('/fonts/nice.ttf') format('truetype'),
         url('/fonts/nice.svg#svgFontName') format('svg');
}

/*                                                          */
/* ALL ITEMS BELOW THIS LINE ARE TAGS IN ALPHABETICAL ORDER */
/*                                                          */

a
{
    color: white;
}

a:active
{
    color: red;
    /* Top line for IE */
    background-color: white;
    background-color: rgba(255,255,255,0.5);
}

a:hover
{
    color: orange;
    text-decoration: underline;
}

a:link
{
    text-decoration: none;
    cursor: crosshair;
    color: white;
}

a:visted
{
    color: rgb(200,200,200);
}

body
{
    margin: 0;
    min-height: 100vh;
}

html, body
{
    height: 100%;
}

h1, h2, h3
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}













/*                                                             */
/* ALL ITEMS BELOW THIS LINE ARE CLASSES IN ALPHABETICAL ORDER */
/*                                                             */

.background_1
{
    background: transparent;
    min-height: 100vh;
    background-image: url("/website_background/carbon_fibre.png");
    background-attachment: fixed;
}

.background_2
{
    background: transparent;
    margin: 0 15% 0 15%;
    /* padding: 2.5% 0 2.5% 0; Removed due to linter */
    height: 50%;
}

.board, .topic
{
    display: table-row;
    background-color: white;
    background-color: rgba(255,255,255,0.25);
    height: 100%;
    width: 100%;
}

/* Everything inside a board */
.board *, .topic *
{
    display: table-cell;
    border: 1px solid transparent;
    overflow: hidden;
    vertical-align: middle;
    padding: 0 5px 0 5px;
}

/* Everything inside the children inside board divs */
.board * *, .topic * *
{
    display: block;
    border-width: 0;
    padding: 0 1% 0 1%;
}

.board_headers, .topic_headers
{
    display: table-row;
    background-color: transparent;
}

.board_headers *, .topic_headers *
{
    display: table-cell;
    text-align: center;
}

.board_headers * *, .topic_headers * *
{
    font-size: 100%;
    color: black;
    display: block;
}

/* All board_headers and topic_headers control the width of the columns */
.board_headers_icon
{
    width: 5%;
}

.topic_headers_icon
{
    width: 5%;
}

.board_headers_title
{
    width: 50%;
}

.topic_headers_title
{
    width: 60%;
}

.board_headers_last_post, .topic_headers_last_post
{
    width: 25%;
}

.board_headers_topic_number, .topic_headers_topic_number
{
    width: 10%;
}

.board_headers_posts_number, .topic_headers_posts_number
{
    width: 10%;
}

.board_icon *, .topic_icon *
{
    margin: 5px auto;
    height: 50px;
}

.board_icon_wrapper, .topic_icon_wrapper
{
    text-align: right;
}

.catagory, .topic_group
{
    display: table;
    table-layout: auto;
    border-spacing: 4px 10px;
    
    width: 100%;
    margin: 0 0 4% 0;
    /* padding: 1%; Removed due to linter */
    border-style: solid;
    border-color: white;
    color: white;
    
    /* Not supported by all browsers */
    border-radius: 10px;
}

.catagory_boards, .catagory_topics
{
    /* careful this isn't supported by IE TODO: add IE compatable thing here*/
    /* background-color: rgba(255,255,255,0.25); */
    display: table-row-group;
}

.catagory_name
{
    color: #FFFFFF;
    padding: 0.25%;
    font-family: nice, sans-serif;
}

.forum_body 
{
    margin: 2.5% 5% 2.5% 5%;
    font-family: sans-serif;
}

.last_post p
{
    margin: 0;
    text-align: center;
}

.posts_number, .topic_number
{
    margin: 0;
    text-align: center;
}

.topic_group
{
    background-color: gray;
    background-color: rgba(36,36,36,0.6);
}

/*------------------------------------------------------------------------- */


/*                                                          */
/* ALL ITEMS BELOW THIS LINE ARE IDs IN ALPHABETICAL ORDER */
/*                                                          */
