/*                                                          */
/* ******************  Navigation Menu CSS  *****************/
/* ******* Includes styling for buttons and search bar ******/
/* ALL ITEMS BELOW THIS LINE ARE TAGS IN ALPHABETICAL ORDER */
/*                                                          */
body
{
    margin: 0;
}

input.search[type=text] 
{
    width: 15%;
    padding: 8px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    float: right;
    background-color: white;
    background-image: url('/board_icons/search.svg');
    background-position: 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    color: white;
}

input.search[type=text]:focus 
{
    background-color: #363636;
}

/*                                                             */
/* ALL ITEMS BELOW THIS LINE ARE CLASSES IN ALPHABETICAL ORDER */
/*                                                             */
ul.topnav 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a 
{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/*                                                             */
/* ALL ITEMS BELOW THIS LINE ARE CLASSES IN ALPHABETICAL ORDER */
/*                                                             */
.homebtn
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    font-family: nice, sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 14px 16px;
}

.homebtn:hover
{
    background-color: #95d097;
}

.navbtns
{
    background-color: #333333;
    border: none;
    color: white;
    font-family: nice, sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 14px 16px;
}

.navbtns:hover
{
    background-color: #737373;
}

/*                                                              */
/* ALL ITEMS BELOW THIS LINE ARE AT-RULES IN ALPHABETICAL ORDER */
/*                                                              */
@media screen and (max-width: 600px){
    ul.topnav li {float: none;}
    input[type=text] {float: none; width:30%;}
}

